@font-face {
    font-family: 'ZPix';
    src: url('./fonts/zpix.ttf') format('truetype');
}

body {
    color: white;
    background-color: black;
    font-family: 'ZPix', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
